#overlay{
    background-color: rgba(60, 24, 95, 0.897);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -20;
    transition: all .5s;
  
   
}

#overlay .modal-content{
    position: fixed;
    top: 20vh;
    left: 50%;
    width: 70%;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: -30;
    transform: translate(-50%, -10%);
    animation: slide-down 300ms ease-out forwards;
}